
.phone{
    background-color: #ffffff;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}

.flagitLogo{
    width: 300px;

}

.phone p {
    margin-top: 10px; /* 로고와 글씨 사이의 여백 조정 */
}