.background{
    align-items: start;
    background-color: #e1e1e1;
    display: grid;
    justify-items: center;
    width: 100vw;
}

.phone{
    background-color: #ffffff;
    height: 852px;
    position: relative;
    width: 393px;
}
