.mycrew-icon {
    width: 100%;
    height: 25vh;
    position: relative;   /* ✅ 자식 absolute 기준 */
  }

  .crewprodv{
    display: flex;
    justify-content: center;
  }

.crewProfile1 {
    transform: translateY(-40%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    background-color: #f0f0f0; /* 배경색 추가 */
    background-size: cover; /* 배경 이미지 크기 조정 */
    background-position: center; /* 배경 이미지 위치 */
}

.crew-profile-icon {
    width: 80%; /* 이미지 크기를 줄임 */
    height: 80%; /* 이미지 크기를 줄임 */
    object-fit: cover; /* 이미지가 배경 안에 맞게 조정 */
    border-radius: 50%; /* 이미지도 원형으로 */
}

.profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.crewName {
    display: flex;
    justify-content: center;
    font-size: clamp(1rem, 1vw, 1.2rem);
    margin-top: -30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
}

.memberCountText {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8rem, 0.8vw, 1rem);
    color: rgba(0, 0, 0, 0.6);
}

.notic-member1 {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 40px;
    box-sizing: border-box;
    margin-top: 40px;

}

.noticeButton1 {
    flex: 1;
    color: #ffffff;
    background-color: #23AFB4;
    border: 1px solid;
    border-color: #b5b5b5;
    border-radius: 15px;
    height: 34px;
    min-width: 50px;
    max-width: 50px;
    text-align: center;
    line-height: 34px; 
    margin-right: 10px;
}
.noticeButton1:hover {
    background-color: #1e9f9f;
}




.memberButton1 {
    text-align: center;
    line-height: 34px; 
    flex: 1;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #b5b5b5;
    border-radius: 15px;
    height: 34px;
    min-width: 50px;
    max-width: 50px;
    margin-right: 50%;

}
.memberButton1:hover {
    background-color: #f0f0f0;
}


.write1{
    color: #7b7b7b;
    font-size: small;
    cursor: pointer;
    margin-left: auto;
}

.write:hover{
    color: #7b7b7b;
}

.noticelist{
    max-height:  380px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #3CBEA5 #ffffff;
}
/* .noticelist::-webkit-scrollbar {
    width: 8px; 
}
.noticelist::-webkit-scrollbar-thumb {
    background-color: #23AFB4; 
    border-radius: 10px;
    border: 2px solid #f0f0f0; 
}

.noticelist::-webkit-scrollbar-track {
    background-color: #ffffff; 
    border-radius: 10px; 
} */

.noticeContent {
    background-color: #ffffff;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid #cacaca;
    margin: 20px 40px;
    display: flex;
    align-items: center;
}

.noticeContentText{
    margin-left: 10px;
    font-weight: 700;
    cursor: pointer;
}

.noticeContentText:hover {
    color: #1e9f9f;
}


  .placeholder{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #DADADA;
    color: #9ca3af;
    text-align: center;
  }

  .upploadButton{
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #dcdcdc;
    color: rgb(94, 94, 94);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 30px;
  }

  .upploadButton:hover {
    color: #656565;
  }



.crew-profile-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

  }
  
  .profile-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #F5F5F5;
  }



  .small-circle-button {
    bottom: 5px; /* 아래쪽에서 5px 떨어짐 */
    right: 5px; /* 오른쪽에서 5px 떨어짐 */
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #23AFB4;
    border: 2px solid #fff;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
  .small-circle-button:hover {
    background-color: #1e9f9f;
  }
  
  .edit-icon {
    width: 16px;
    height: 16px;
  }

  .no-notices {
    text-align: center;
    color: gray;
    font-size: 16px;
    margin-top: 20px;
  }

  .background-change-btn {

    bottom: 10px;
    right: 10px;
    max-width: 120px;
    background: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 12px;
    padding: 6px 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 4px;
    cursor: pointer;
  }
  
  .background-change-btn:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  
  .camera-icon {
    width: 14px;
    height: 14px;
  }
  